@import '../../assets/styles/colors.scss';

button {
   display: flex;
   font-size: medium;
   margin: auto;
   border-radius: 10px;
   display: inline-block;
   cursor: pointer;
   .active {
      background-color: $background-color ;
   }
}
